node_modules/
dist/
build/
.cache/
/.pnp*/
.pnp.js
coverage/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.log
.idea/
.vscode/
/.vite
*.iml
src/assets/**/*.png
src/assets/**/*.jpg
src/assets/**/*.jpeg
src/assets/**/*.svg
